<p>lc works!</p>
<div id="tooltip"></div>
<div>
    <mat-tab-group>
        <mat-tab label="Home">
            <h2>Table Content</h2>
        </mat-tab>
        <!-- <mat-tab label="Daya"> -->
        <mat-tab label="Daya">
            <ng-template  matTabContent>
                <div>
                    <svg id="brNavChrt" width=900 height=600></svg>
                </div>
            </ng-template>
            
        <!-- </md-content> -->
        </mat-tab>
    </mat-tab-group>
    
</div>
<hr>
<!-- <div class="tab">
    <button class="tablinks" onclick="openTabs(event,'Home')">Home</button>
    <button class="tablinks" onclick="openTabs(event,'Chart')">Chart</button>
</div> -->
<!-- Tab Content -->
<div>
    h3
</div>

<div>
    <svg id="brNavChrt"></svg>
</div>
<hr>